Data Science Tools and Ecosystem

Introduction In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

Popular languages that Data Scientists use
Commonly Used Libraries by Data Scientists
Data Science Tools
Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Dplyr

Data Science Tools
|----------------------|
| SQL Database         | 
| Spreadsheets         |
| Visualization Tools  |

Below are a few examples of evaluating arithmetic expressions in Python.Â¶

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Author
Felix Rivera