#

In [1]:
import tensorflow as tf

In [15]:
print(tf.version)

AttributeError: module 'tensorflow' has no attribute 'version'

print(tf.version)

##TENSORFLOW###

# IMPORT THE RELEVANT LIBRARIES TENSORFLOW

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
pip1 install matplotlib

SyntaxError: invalid syntax (1109084611.py, line 1)

In [5]:
import matplotlib

In [7]:
import sys
print(sys.executable)

C:\Users\etern\anaconda3\envs\py3-TF2.0\python.exe

In [9]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.20 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: six>=1.5 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
!pip install keras

Requirement already satisfied: keras in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (2.15.0)

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf 
import keras

ModuleNotFoundError: No module named 'tensorflow.compat'

In [3]:
observations = 1000

xs = np.random.uniform(low=-10, high=10, size=(observations,1))
zs = np.random.uniform(-10, 10, (observations,1))

generated_inputs = np.column_stack((xs,zs))

noise = np.random.uniform(-1, 1, (observations,1))

generated_targets = 2*xs - 3*zs + 5 + noise

np.savez('TF_intro', inputs=generated_inputs, targets=generated_targets)

##Solving with TensorFlow

In [6]:
training_data = np.load('TF_intro.npz')

In [8]:
input_size = 2
output_size = 1

model = tf.keras.Sequential([
                            tf.keras.layers.Dense(output_size)
                            ])

model.compile(optimizer='sgd', loss='mean_squared_error')

model.fit(training_data['inputs'], training_data['targets'], epochs=100, verbose=0)

AttributeError: module 'tensorflow' has no attribute 'keras'

In [10]:
pip install keras

Requirement already satisfied: keras in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (2.15.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [24]:
observations = 1000

xs = np.random.uniform(low=-10, high=10, size=(observations,1))
zs = np.random.uniform(-10, 10, (observations,1))

generated_inputs = np.column_stack((xs,zs))

noise = np.random.uniform(-1, 1, (observations,1))

generated_targets = 2*xs - 3*zs + 5 + noise

np.savez('TF_intro', inputs=generated_inputs, targets=generated_targets)

In [26]:
training_data = np.load('TF_intro.npz')

In [28]:
input_size = 2
output_size = 1

model = tf.keras.Sequential([
                            tf.keras.layers.Dense(output_size)
                            ])

model.compile(optimizer='sgd', loss='mean_squared_error')

model.fit(training_data['inputs'], training_data['targets'], epochs=100, verbose=2)

AttributeError: module 'tensorflow' has no attribute 'keras'

In [ ]:
pip install tensorflow-gpu==2.2.0

In [1]:
pip install --upgrade tensorflow

Requirement already satisfied: tensorflow in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (2.13.0)
Collecting tensorflow
  Using cached tensorflow-2.13.1-cp38-cp38-win_amd64.whl.metadata (2.6 kB)
INFO: pip is looking at multiple versions of tensorflow to determine which version is compatible with other requirements. This could take a while.
Requirement already satisfied: tensorflow-intel==2.13.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (24.3.25)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (18.1.1)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.20.3)
Requirement already satisfied: setuptools in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.1.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.48.2)
Requirement already satisfied: tensorboard<2.14,>=2.13 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Collecting keras<2.14,>=2.13.1 (from tensorflow-intel==2.13.0->tensorflow)
  Using cached keras-2.13.1-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.13.0->tensorflow) (0.44.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.29.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.32.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.0.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (7.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2024.8.30)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.1.3)
Requirement already satisfied: zipp>=0.5 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.20.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.2.2)
Using cached keras-2.13.1-py3-none-any.whl (1.7 MB)
Installing collected packages: keras
  Attempting uninstall: keras
    Found existing installation: keras 2.15.0
    Uninstalling keras-2.15.0:
      Successfully uninstalled keras-2.15.0
Successfully installed keras-2.13.1
Note: you may need to restart the kernel to use updated packages.

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf 
from tensorflow import keras

ImportError: cannot import name 'keras' from 'tensorflow' (unknown location)

In [7]:
observations = 1000

xs = np.random.uniform(low=-10, high=10, size=(observations,1))
zs = np.random.uniform(-10, 10, (observations,1))

generated_inputs = np.column_stack((xs,zs))

noise = np.random.uniform(-1, 1, (observations,1))

generated_targets = 2*xs - 3*zs + 5 + noise

np.savez('TF_intro', inputs=generated_inputs, targets=generated_targets)

In [9]:
training_data = np.load('TF_intro.npz')

In [11]:
input_size = 2
output_size = 1

model = tf.keras.Sequential([
                            tf.keras.layers.Dense(output_size)
                            ])

model.compile(optimizer='sgd', loss='mean_squared_error')

model.fit(training_data['inputs'], training_data['targets'], epochs=100, verbose=2)

AttributeError: module 'tensorflow' has no attribute 'keras'

In [20]:
print(tf.__version__)
print(tf.keras.__version__)

AttributeError: module 'tensorflow' has no attribute '__version__'

In [24]:
from tensorflow.keras import applications

ModuleNotFoundError: No module named 'tensorflow.keras'

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [5]:
observations = 1000

xs = np.random.uniform(low=-10, high=10, size=(observations,1))
zs = np.random.uniform(-10, 10, (observations,1))

generated_inputs = np.column_stack((xs,zs))

noise = np.random.uniform(-1, 1, (observations,1))

generated_targets = 2*xs - 3*zs + 5 + noise

np.savez('TF_intro', inputs=generated_inputs, targets=generated_targets)

In [7]:
training_data = np.load('TF_intro.npz')

In [9]:
input_size = 2
output_size = 1

model = tf.keras.Sequential([
                            tf.keras.layers.Dense(output_size)
                            ])

model.compile(optimizer='sgd', loss='mean_squared_error')

model.fit(training_data['inputs'], training_data['targets'], epochs=100, verbose=2)

AttributeError: module 'tensorflow' has no attribute 'keras'

In [1]:
import numpy as np
import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data

# TensorFLow includes a data provider for MNIST that we'll use.
# This function automatically downloads the MNIST dataset to the chosen directory.

ModuleNotFoundError: No module named 'tensorflow.examples'

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: numpy>=1.20.3 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\etern\anaconda3\envs\py3-tf2.0\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
    --------------------------------------- 0.3/10.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/10.8 MB 1.7 MB/s eta 0:00:07
   -- ------------------------------------- 0.8/10.8 MB 1.9 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/10.8 MB 1.6 MB/s eta 0:00:06
   ----- ---------------------------------- 1.6/10.8 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/10.8 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/10.8 MB 1.7 MB/s eta 0:00:06
   ---------- ----------------------------- 2.9/10.8 MB 1.7 MB/s eta 0:00:05
   ----------- ---------------------------- 3.1/10.8 MB 1.8 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/10.8 MB 1.8 MB/s eta 0:00:04
   --------------- ------------------------ 4.2/10.8 MB 1.8 MB/s eta 0:00:04
   ---------------- ----------------------- 4.5/10.8 MB 1.8 MB/s eta 0:00:04
   ------------------ --------------------- 5.0/10.8 MB 1.9 MB/s eta 0:00:04
   -------------------- ------------------- 5.5/10.8 MB 1.9 MB/s eta 0:00:03
   ---------------------- ----------------- 6.0/10.8 MB 1.9 MB/s eta 0:00:03
   ----------------------- ---------------- 6.3/10.8 MB 1.9 MB/s eta 0:00:03
   ------------------------ --------------- 6.6/10.8 MB 1.9 MB/s eta 0:00:03
   ------------------------- -------------- 6.8/10.8 MB 1.9 MB/s eta 0:00:03
   -------------------------- ------------- 7.1/10.8 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 7.3/10.8 MB 1.8 MB/s eta 0:00:02
   ---------------------------- ----------- 7.6/10.8 MB 1.7 MB/s eta 0:00:02
   ------------------------------ --------- 8.1/10.8 MB 1.7 MB/s eta 0:00:02
   ------------------------------- -------- 8.4/10.8 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 8.7/10.8 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 8.9/10.8 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 9.4/10.8 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/10.8 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/10.8 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.8 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 1.7 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.3 tzdata-2025.1

In [5]:
import pandas as pd

In [7]:
raw_csv_data = pd.read_csv('Documents/Bank_data.csv')

raw_csv_data

In [1]:
time_horizon = 1,2,3
time_horizon

(1, 2, 3)

In [3]:
products = ['Product A', 'Product B')
products

['Product A', 'Prodcut B']

In [15]:
'Expected sales for a period of {t_hor} months(s) for {prod}:'.format(t_hor =12, prod = 'Product B')##format(time_horizon[2], products[1])

'Expected sales for a period of 12 months(s) for Product B:'

In [18]:
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [22]:
for i in t:
    print(i)

1
2
3
4

In [24]:
range(5)

range(0, 5)

In [26]:
for i in range(5):
    print(i, end = "")

01234

In [28]:
for i in range(2):
    for j in range(5):
        print (i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4

In [32]:
for i in ['Product A', 'Product B']:
    for j in range(5):
        print ([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [36]:
products = ['Product A', 'Product B']
exp_sales = (1000, 2000, 3000, 4000,)

In [38]:
for i in products:
    for j in exp_sales:
        print([i, j])

['Product A', 1000]
['Product A', 2000]
['Product A', 3000]
['Product A', 4000]
['Product B', 1000]
['Product B', 2000]
['Product B', 3000]
['Product B', 4000]

In [56]:
products = ['Product A', 'Product B']
exp_sales = (1000, 2000, 3000, 4000,)

In [62]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of (0) month(s) for (1): ${sales}'.format(t_hor, prod, sales = sale * t_hor))#([prod, sale*t_hor])

Expected sales for a period of (0) month(s) for (1): $1000
Expected sales for a period of (0) month(s) for (1): $2000
Expected sales for a period of (0) month(s) for (1): $3000
Expected sales for a period of (0) month(s) for (1): $2000
Expected sales for a period of (0) month(s) for (1): $4000
Expected sales for a period of (0) month(s) for (1): $6000
Expected sales for a period of (0) month(s) for (1): $3000
Expected sales for a period of (0) month(s) for (1): $6000
Expected sales for a period of (0) month(s) for (1): $9000
Expected sales for a period of (0) month(s) for (1): $4000
Expected sales for a period of (0) month(s) for (1): $8000
Expected sales for a period of (0) month(s) for (1): $12000
Expected sales for a period of (0) month(s) for (1): $1000
Expected sales for a period of (0) month(s) for (1): $2000
Expected sales for a period of (0) month(s) for (1): $3000
Expected sales for a period of (0) month(s) for (1): $2000
Expected sales for a period of (0) month(s) for (1): $4000
Expected sales for a period of (0) month(s) for (1): $6000
Expected sales for a period of (0) month(s) for (1): $3000
Expected sales for a period of (0) month(s) for (1): $6000
Expected sales for a period of (0) month(s) for (1): $9000
Expected sales for a period of (0) month(s) for (1): $4000
Expected sales for a period of (0) month(s) for (1): $8000
Expected sales for a period of (0) month(s) for (1): $12000

In [64]:
numbers = [1,13,4,5,63,100]
numbers

[1, 13, 4, 5, 63, 100]

In [70]:
new_numbers=[]

for n in numbers:
    new_numbers.append(n * 2)

print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [72]:
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [74]:
for i in range(2):
    for j in range(5):
        print(i + j, end = "")

0123412345

In [80]:
new_list_comprehension_1 = [i + j for i in range(2) for j in range (5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [82]:
type(new_list_comprehension_1)

list

In [84]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [86]:
new_list_comprehension_2 = [[i + j for i in range(2)] for j in range (5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [88]:
type(new_list_comprehension_1)

list

In [92]:
type(new_list_comprehension_1[1])

int

In [94]:
type(new_list_comprehension_2[1])

list

In [96]:
list(range(1,13))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [102]:
[num ** 3 for num in range(1,11) if num % 2 !=0]

[1, 27, 125, 343, 729]

In [110]:
for i in range(1,11):
    if i % 2 != 0:
        print(i ** 3, end = "")

127125343729

In [116]:
[num ** 3 if num % 2 != 0 for num in range(1,11)]

SyntaxError: invalid syntax (2644893178.py, line 1)

In [114]:
[num ** 3 if num % 2 != 0 else 'even' for num in range(1,11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

In [126]:
def raise_to_the_power_of_2(x):
    return x ** 2

In [130]:
raise_to_the_power_of_2(3)

9

In [132]:
lambda x: x ** 2

In [134]:
raise_to_the_power_of_2_lambda = lambda x: x ** 2

In [136]:
raise_to_the_power_of_2_lambda(3)

9

In [138]:
(lambda x: x/2) (11)

5.5

In [140]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x+3) ** 3)(2)

53.792

In [142]:
sum_xy = lambda x, y: x + y
sum_xy(2,3)

5

In [146]:
sum_xy = lambda x, y: x + y(x)

In [148]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [150]:
sum_xy(2, lambda x: x*5)

12

In [152]:
import numpy as np
import pandas as pd

In [154]:
data_preprocessed = pd.read_csv('Documents/Absenteeism_preprocessed.csv')

In [156]:
#CREATE TARGETS

data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [160]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [166]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [168]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [172]:
data_preprocessed['Excesive Absenteeism'] = targets

In [174]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excesive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [180]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [374]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the week','Daily Work Load Average','Distance to Work'], axis=1)

KeyError: "['Day of the week'] not found in axis"

In [ ]:
data_with_targets is data_preprocessed

In [ ]:
data_with_targets.head()

In [307]:
#SELECT INPUTS FOR THE REGESSION

data_with_targets.shape

(700, 15)

In [309]:
data_with_targets.iloc[:, 0:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [311]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [313]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [315]:
#STANDARIZE THE DATA

from sklearn.preprocessing import StandardScaler

In [317]:
absenteeism_scaler = StandardScaler()

In [319]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler()

In [378]:
# import the libraries needed to create the Custom Scaler
# note that all of them are a part of the sklearn package
# moreover, one of them is actually the StandardScaler module, 
# so you can imagine that the Custom Scaler is build on it

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

# create the Custom Scaler class

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler(copy,with_mean,with_std)
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None
     # the fit method, which, again based on StandardScale
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    # the transform method which does the actual scaling

    def transform(self, X, y=None, copy=None):
        
        # record the initial order of the columns
        init_col_order = X.columns
        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [380]:
# check what are all columns that we've got
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [382]:
# choose the columns to scale
# we later augmented this code and put it in comments
# columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']
    
# select the columns to omit
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [384]:
# create the columns to scale, based on the columns to omit
# use list comprehension to iterate over the list
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [386]:
# declare a scaler object, specifying the columns you want to scale
absenteeism_scaler = CustomScaler(columns_to_scale)

TypeError: __init__() takes 1 positional argument but 4 were given

In [ ]:
# fit the data (calculate mean and standard deviation); they are automatically stored inside the object 
absenteeism_scaler.fit(unscaled_inputs)

In [321]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [323]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [325]:
scaled_inputs.shape

(700, 14)

In [327]:
from sklearn.model_selection import train_test_split

In [329]:
train_test_split(scaled_inputs, targets)

[array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927,  0.26848661],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976]]),
 array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  2.8430157 ],
        [-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
          2.67996851, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927,  0.26848661],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927,  0.26848661],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
          2.67996851, -0.58968976]]),
 array([0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
        0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
        0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
        0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
        1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
        1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]),
 array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
        0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1])]

In [331]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8)

In [333]:
print(x_train.shape, y_train.shape)

(560, 14) (560,)

In [335]:
print(x_test.shape, y_test.shape)

(140, 14) (140,)

In [337]:
#LOGISTIC REGRESSION WITH SKLEARN

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [339]:
reg = LogisticRegression()

In [341]:
reg.fit(x_train,y_train)

LogisticRegression()

In [343]:
reg.score(x_train, y_train) #80 percent accuracy

0.7589285714285714

In [345]:
#MANUALLY CHECK THE ACCURACY 80% OF THE MODEL OUTPUT MATCH THE TARGETS

model_outputs = reg.predict(x_train)
model_outputs

array([0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1])

In [347]:
y_train

array([0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1])

In [349]:
model_outputs == y_train #if there is a match the result is true

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True, False,
        True,  True, False,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True, False,  True, False,
        True,  True, False,  True,  True,  True, False, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True, False,  True, False,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False,  True, False, False,
        True,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False,  True,  True,  True, False, False, False,  True,
        True, False,  True,  True,  True, False, False,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True, False,  True, False,
       False,  True, False, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True, False,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False, False, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True, False,  True,  True, False, False,
        True,  True])

In [351]:
np.sum(model_outputs == y_train)

425

In [353]:
model_outputs.shape[0]

560

In [355]:
np.sum((model_outputs == y_train)) / model_outputs.shape[0]

0.7589285714285714

In [357]:
#FIND THE INTERCEPT

reg.intercept_

array([-0.27025521])

In [359]:
reg.coef_

array([[ 2.06995492,  0.33204701,  1.4758428 ,  1.32852601,  0.09251935,
        -0.19196202,  0.66693193, -0.14742668, -0.27924771, -0.02867228,
         0.38604899, -0.06758668,  0.46261326, -0.32778891]])

In [361]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [363]:
#new variable

feature_name = unscaled_inputs.columns.values

In [365]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  Reason_1     2.069955
1                  Reason_2     0.332047
2                  Reason_3     1.475843
3                  Reason_4     1.328526
4               Month Value     0.092519
5           Day of the Week    -0.191962
6    Transportation Expense     0.666932
7          Distance to Work    -0.147427
8                       Age    -0.279248
9   Daily Work Load Average    -0.028672
10          Body Mass Index     0.386049
11                Education    -0.067587
12                 Children     0.462613
13                      Pet    -0.327789

In [367]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.270255
1                  Reason_1     2.069955
2                  Reason_2     0.332047
3                  Reason_3     1.475843
4                  Reason_4     1.328526
5               Month Value     0.092519
6           Day of the Week    -0.191962
7    Transportation Expense     0.666932
8          Distance to Work    -0.147427
9                       Age    -0.279248
10  Daily Work Load Average    -0.028672
11          Body Mass Index     0.386049
12                Education    -0.067587
13                 Children     0.462613
14                      Pet    -0.327789

In [369]:
#INTERPRETING COEFFICIENTS OR WEIGHTS

summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -0.270255    0.763185
1                  Reason_1     2.069955    7.924466
2                  Reason_2     0.332047    1.393818
3                  Reason_3     1.475843    4.374721
4                  Reason_4     1.328526    3.775474
5               Month Value     0.092519    1.096934
6           Day of the Week    -0.191962    0.825338
7    Transportation Expense     0.666932    1.948251
8          Distance to Work    -0.147427    0.862926
9                       Age    -0.279248    0.756353
10  Daily Work Load Average    -0.028672    0.971735
11          Body Mass Index     0.386049    1.471157
12                Education    -0.067587    0.934647
13                 Children     0.462613    1.588219
14                      Pet    -0.327789    0.720515

In [371]:
summary_table.sort_values('Odds_ratio', ascending = False)

               Feature name  Coefficient  Odds_ratio
1                  Reason_1     2.069955    7.924466
3                  Reason_3     1.475843    4.374721
4                  Reason_4     1.328526    3.775474
7    Transportation Expense     0.666932    1.948251
13                 Children     0.462613    1.588219
11          Body Mass Index     0.386049    1.471157
2                  Reason_2     0.332047    1.393818
5               Month Value     0.092519    1.096934
10  Daily Work Load Average    -0.028672    0.971735
12                Education    -0.067587    0.934647
8          Distance to Work    -0.147427    0.862926
6           Day of the Week    -0.191962    0.825338
0                 Intercept    -0.270255    0.763185
9                       Age    -0.279248    0.756353
14                      Pet    -0.327789    0.720515

In [388]:
#TESTING THE MODEL
# assess the test accuracy of the model
reg.score(x_test,y_test) ##IN 77% WE WILL PREDICT IF THE PERCENT WILL BE ABSENT

0.7785714285714286

In [390]:
# find the predicted probabilities of each class
# the first column shows the probability of a particular observation to be 0, while the second one - to be 1
predicted_proba = reg.predict_proba(x_test)

# let's check that out
predicted_proba

array([[0.11453354, 0.88546646],
       [0.9862552 , 0.0137448 ],
       [0.73844916, 0.26155084],
       [0.81400293, 0.18599707],
       [0.42805243, 0.57194757],
       [0.81656972, 0.18343028],
       [0.80781092, 0.19218908],
       [0.81720848, 0.18279152],
       [0.27892616, 0.72107384],
       [0.77087352, 0.22912648],
       [0.43175536, 0.56824464],
       [0.93164497, 0.06835503],
       [0.84479156, 0.15520844],
       [0.28377449, 0.71622551],
       [0.65328273, 0.34671727],
       [0.88087232, 0.11912768],
       [0.35428112, 0.64571888],
       [0.53376854, 0.46623146],
       [0.69376036, 0.30623964],
       [0.2200221 , 0.7799779 ],
       [0.13754378, 0.86245622],
       [0.12730379, 0.87269621],
       [0.84743294, 0.15256706],
       [0.46788154, 0.53211846],
       [0.78015993, 0.21984007],
       [0.41189268, 0.58810732],
       [0.64617741, 0.35382259],
       [0.51445727, 0.48554273],
       [0.77296274, 0.22703726],
       [0.80954912, 0.19045088],
       [0.41850992, 0.58149008],
       [0.63320719, 0.36679281],
       [0.84656114, 0.15343886],
       [0.05045743, 0.94954257],
       [0.34469599, 0.65530401],
       [0.93723812, 0.06276188],
       [0.14738175, 0.85261825],
       [0.15003521, 0.84996479],
       [0.11093403, 0.88906597],
       [0.46788154, 0.53211846],
       [0.72325314, 0.27674686],
       [0.49818115, 0.50181885],
       [0.65992529, 0.34007471],
       [0.6060816 , 0.3939184 ],
       [0.8532719 , 0.1467281 ],
       [0.25654511, 0.74345489],
       [0.75557165, 0.24442835],
       [0.3756884 , 0.6243116 ],
       [0.21968718, 0.78031282],
       [0.2870377 , 0.7129623 ],
       [0.26214315, 0.73785685],
       [0.63137719, 0.36862281],
       [0.08366025, 0.91633975],
       [0.44489196, 0.55510804],
       [0.54289976, 0.45710024],
       [0.72725931, 0.27274069],
       [0.41013702, 0.58986298],
       [0.79747372, 0.20252628],
       [0.82293191, 0.17706809],
       [0.63525592, 0.36474408],
       [0.62494708, 0.37505292],
       [0.73260742, 0.26739258],
       [0.77296274, 0.22703726],
       [0.81899991, 0.18100009],
       [0.30986061, 0.69013939],
       [0.88969494, 0.11030506],
       [0.35026367, 0.64973633],
       [0.70336356, 0.29663644],
       [0.14110836, 0.85889164],
       [0.12669439, 0.87330561],
       [0.89620419, 0.10379581],
       [0.24783183, 0.75216817],
       [0.16551801, 0.83448199],
       [0.54359871, 0.45640129],
       [0.62038056, 0.37961944],
       [0.82448343, 0.17551657],
       [0.08435865, 0.91564135],
       [0.65171064, 0.34828936],
       [0.5045856 , 0.4954144 ],
       [0.85100635, 0.14899365],
       [0.40961185, 0.59038815],
       [0.33190337, 0.66809663],
       [0.72516851, 0.27483149],
       [0.09161793, 0.90838207],
       [0.06097024, 0.93902976],
       [0.80647953, 0.19352047],
       [0.42054348, 0.57945652],
       [0.54983379, 0.45016621],
       [0.57106835, 0.42893165],
       [0.83762173, 0.16237827],
       [0.40187793, 0.59812207],
       [0.66265097, 0.33734903],
       [0.13554194, 0.86445806],
       [0.85546415, 0.14453585],
       [0.70272175, 0.29727825],
       [0.22193961, 0.77806039],
       [0.68536813, 0.31463187],
       [0.50534783, 0.49465217],
       [0.84610877, 0.15389123],
       [0.89520387, 0.10479613],
       [0.88842351, 0.11157649],
       [0.9092042 , 0.0907958 ],
       [0.21645073, 0.78354927],
       [0.21914863, 0.78085137],
       [0.41930618, 0.58069382],
       [0.83664601, 0.16335399],
       [0.79891506, 0.20108494],
       [0.08133886, 0.91866114],
       [0.81901234, 0.18098766],
       [0.0820437 , 0.9179563 ],
       [0.79117539, 0.20882461],
       [0.7956073 , 0.2043927 ],
       [0.16114094, 0.83885906],
       [0.93911148, 0.06088852],
       [0.84595652, 0.15404348],
       [0.84155395, 0.15844605],
       [0.81400293, 0.18599707],
       [0.41707885, 0.58292115],
       [0.34006152, 0.65993848],
       [0.28019333, 0.71980667],
       [0.33744104, 0.66255896],
       [0.09520808, 0.90479192],
       [0.74409921, 0.25590079],
       [0.74847405, 0.25152595],
       [0.72365325, 0.27634675],
       [0.84446939, 0.15553061],
       [0.99010334, 0.00989666],
       [0.45257489, 0.54742511],
       [0.21813472, 0.78186528],
       [0.7089371 , 0.2910629 ],
       [0.32608015, 0.67391985],
       [0.62262704, 0.37737296],
       [0.45020547, 0.54979453],
       [0.29603496, 0.70396504],
       [0.89997921, 0.10002079],
       [0.87956367, 0.12043633],
       [0.32144313, 0.67855687],
       [0.06362112, 0.93637888],
       [0.05113894, 0.94886106],
       [0.80658689, 0.19341311]])

In [392]:
predicted_proba.shape

(140, 2)

In [394]:
# select ONLY the probabilities referring to 1s
predicted_proba[:,1]

array([0.88546646, 0.0137448 , 0.26155084, 0.18599707, 0.57194757,
       0.18343028, 0.19218908, 0.18279152, 0.72107384, 0.22912648,
       0.56824464, 0.06835503, 0.15520844, 0.71622551, 0.34671727,
       0.11912768, 0.64571888, 0.46623146, 0.30623964, 0.7799779 ,
       0.86245622, 0.87269621, 0.15256706, 0.53211846, 0.21984007,
       0.58810732, 0.35382259, 0.48554273, 0.22703726, 0.19045088,
       0.58149008, 0.36679281, 0.15343886, 0.94954257, 0.65530401,
       0.06276188, 0.85261825, 0.84996479, 0.88906597, 0.53211846,
       0.27674686, 0.50181885, 0.34007471, 0.3939184 , 0.1467281 ,
       0.74345489, 0.24442835, 0.6243116 , 0.78031282, 0.7129623 ,
       0.73785685, 0.36862281, 0.91633975, 0.55510804, 0.45710024,
       0.27274069, 0.58986298, 0.20252628, 0.17706809, 0.36474408,
       0.37505292, 0.26739258, 0.22703726, 0.18100009, 0.69013939,
       0.11030506, 0.64973633, 0.29663644, 0.85889164, 0.87330561,
       0.10379581, 0.75216817, 0.83448199, 0.45640129, 0.37961944,
       0.17551657, 0.91564135, 0.34828936, 0.4954144 , 0.14899365,
       0.59038815, 0.66809663, 0.27483149, 0.90838207, 0.93902976,
       0.19352047, 0.57945652, 0.45016621, 0.42893165, 0.16237827,
       0.59812207, 0.33734903, 0.86445806, 0.14453585, 0.29727825,
       0.77806039, 0.31463187, 0.49465217, 0.15389123, 0.10479613,
       0.11157649, 0.0907958 , 0.78354927, 0.78085137, 0.58069382,
       0.16335399, 0.20108494, 0.91866114, 0.18098766, 0.9179563 ,
       0.20882461, 0.2043927 , 0.83885906, 0.06088852, 0.15404348,
       0.15844605, 0.18599707, 0.58292115, 0.65993848, 0.71980667,
       0.66255896, 0.90479192, 0.25590079, 0.25152595, 0.27634675,
       0.15553061, 0.00989666, 0.54742511, 0.78186528, 0.2910629 ,
       0.67391985, 0.37737296, 0.54979453, 0.70396504, 0.10002079,
       0.12043633, 0.67855687, 0.93637888, 0.94886106, 0.19341311])

In [396]:
# SAVE THE MODEL
# import the relevant module
import pickle

In [398]:
# pickle the model file
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [400]:
# pickle the scaler file
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)

**CONDITIONS BRANCHING**

In [3]:
age = 20
if age >= 21:
    print("Enter the bar")
else:
    print("You cant")

You cant

In [7]:
input("What age are you?")
if age >= 21:
    print("Enter the bar")
elif age>= 18:
    print("Watch a movie")
else:
    print("Neither")

What age are you? 16

Watch a movie

In [7]:
import pandas as pd
import numpy as np

In [ ]:
user_choice = "Withdraw Cash"
if user_choice == "Withdraw Cash":
    amount = input("Enter amount to withdraw")
    if amount % 10 == 0:
        dispense_cash(amount)
    else:
        print("Please enter multiple of 10")
else: 
    print("Thank you for using ATM")

In [ ]:
is_do_not_disturb = True
if not is_do_not_disturb:
    send_notification("New message received")

In [5]:
has_valid_id_card = True
has_matching_fingerprint = True
if has_valid_id_card and has_matching_fingerprint:
    open_high_security_door()

NameError: name 'secret' is not defined

In [5]:
friend1_likes_comedy = True
friend2_likes_action = False
friend3_likes_drama = False
if friend1_likes_comedy or friend2_likes_action or friend3_likes_drama:
    choose_a_movie()

NameError: name 'choose_a_movie' is not defined

In [7]:
1=2

SyntaxError: cannot assign to literal (3293032332.py, line 1)

In [9]:
i=6

i<5

False

In [15]:
"a" == "A"

False

In [1]:
squares=["re", "yellow", "green"]
for i, squares in enumerate(squares):
    print(squares)

re
yellow
green

In [3]:
print(type)

<class 'type'>

In [5]:
print("Multiplication table of 6:")
for i in range (10):
    print("6*",i,"=",6*i)
print ("Multiplication table of 7:")
for i in range(10):
    print("7*",i,"=",7*i)

Multiplication table of 6:
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
Multiplication table of 7:
7* 0 = 0
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63

In [9]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=0
rating=PlayListRatings = [0]
while(i > len(PlayListRatings) and rating >= 6): 
    print(rating)
    i=i+1
    rating = PlayListRatings[i]

In [ ]:
# Write your code here
Animals = {"lion", "girafee", "gorilla"
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New=[]
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
        i=i+1
        print(New)

In [4]:
Multiply(10.0, 3.14)

NameError: name 'Multiply' is not defined

In [20]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [22]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [24]:
square(2)

2 if you square + 1 5

5

In [32]:
# Define functions, one with return value None and other without return value

def MJ():
    print('The BodyGuard')
    
def MJ1():
    print('The BodyGuard')
    return(None)

In [34]:
MJ()

The BodyGuard

In [36]:
MJ1()

The BodyGuard

In [38]:
def con(a, b):
    return(a + b)

In [40]:
con("This ", "is")

'This is'

In [42]:
# a and b calculation block1
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [46]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [48]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [50]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [52]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [54]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [56]:
sum(album_ratings)

70.0

In [58]:
len(album_ratings)

8

In [62]:
#You will see below will return an error as integer alone is not considered while using a function.It either has to be in the form of tuple, list or a set.

sum(1,2)

TypeError: 'int' object is not iterable

In [64]:
# Define a tuple
a = (1, 2)

# Pass the tuple to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the tuple {a} is {c}.")

The sum of the elements in the tuple (1, 2) is 3.

In [66]:
# Define a list
a = [1, 2]

# Pass the list to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the list {a} is {c}.")

The sum of the elements in the list [1, 2] is 3.

In [68]:
def type_of_album(album, year_released):
    
    print(album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("The BodyGuard", 1980)
print(x)

The BodyGuard 1980
Oldie

In [70]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [72]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [74]:
#Compare Two Strings Directly using in operator
# add string
string= "The BodyGuard is the best album"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("The BodyGuard is the best")

'String matched'

In [76]:
#Compare two strings using == operator and function
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "The BodyGuard is the best album"
string2 = "The BodyGuard is the best album"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

String Matched

In [78]:
# Python Program to Count words in a String using Dictionary
def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")# Python Program to Count words in a String using Dictionary

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [80]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [82]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [84]:
# Example of global variable

album = "The BodyGuard"
def printer1(album):
    internal_var1 = "Thriller"
    print(album, "is an album")
    
printer1(album )
# try runningthe following code
#printer1(internal_var1)

The BodyGuard is an album

In [86]:
album = "The BodyGuard"

def printer(album):
    global internal_var 
    internal_var= "Thriller"
    print(album,"is an album")

printer(album) 
printer(internal_var)

The BodyGuard is an album
Thriller is an album

In [88]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [90]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

In [92]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [94]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [96]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [98]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [100]:
# Write your code below and press Shift+Enter to execute
def div(a,b)
    return(a/b)

SyntaxError: invalid syntax (816311251.py, line 2)

In [102]:
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

In [104]:
len(['A','B',1])

3

In [106]:
len([sum([1,1,1])])

1

In [108]:
L=[1,3,2]

sorted(L)

[1, 2, 3]

In [110]:
def print_function(A):
    for a in A:
        print(a + '1')
print_function(['a', 'b', 'c'])

a1
b1
c1

EXCEPTION HANDLENING

In [115]:
try:
    result = 10/0

except ZeroDivisionError:
    print("Error: Cannot divide by zero")
    print("outside of try and except block")

Error: Canno divide by zero
outside of try and except block

In [121]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a 0

There was an error

In [131]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a .00000001

You did not provide a number

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

In [5]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a y

You did not provide a number
Processing Complete

In [11]:
def safe_divide(numerator,denominator):
    try:
        result= numerator/denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
    # Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

Enter the numerator value: 5
Enter the denominator value: 6

0.8333333333333334

In [ ]:
import math

def perform_calculation(number1):
    try:
        result = math.sqrt(number1)
        print(f"Result: {result}")
    except ValueError: 
        print("Error: Invalid input! Please enter a positive integer or a float value.")
number1=float(input("Enter the number:-"))
perform_calculation(number1)

In [1]:
def complex_calculation(num):
    try:
        result= num/(num - 5)
        print(f"Result: {result}")
    except Exception as e:
        print("An error occured durin calculation.")
    user_input = float(inpput("Enter a number"))
    complex_calcualtion(user_input)